<div class="error content">
<% if defined?(@error) %>
<%= @error %>
<% end %>
</div>

<div id='registration' class='content'>
  <form id='registration-form' method='POST' action='/users'>
  <label for="user[username]">Username:</label><br>
  <input type="text" name="user[username]"><br>
  <label for="user[email]">Email:</label><br>
  <input type="text" name="user[email]"><br>
  <label for="user[first_name]">First Name:</label><br>
  <input type="text" name="user[first_name]"><br>
  <label for="user[last_name]">Last Name:</label><br>
  <input type="text" name="user[last_name]"><br>
  <label for="user[password]">Password:</label><br>
  <input type="password" name="user[password]"><br>
  <input class="big-link" type="submit" value="Register" />
  </form>
</div>
