<div class='container new-interiew-box'>
    <ul class='index-list'>
      <li class='index-li script'>
        Start a white boarding session!
      </li>
    </ul>

  <div>
    <form id='interview-form' method='POST' action='/restaurants'>
    <label for="int[name]">Applicant Username:</label>
    <input type="text" name="int[name]">
    <label for="int[challenge]">Challenge:</label>
    <select name="int[challenge]">
      <% @challenges.each do |challenge| %>
      <option value="<%= challenge.id %>"><%= challenge.title %></option>
      <% end %>
    </select>
    <label for="int[address]">Address:</label>
    <input type="text" name="int[address]"><br>
    <input type="hidden" name="int[interviewer_id]" value='<%= session[:id] %>'>
    <input class='big-link' type="submit" value="Start Interview" />
    </form>
  </div>

</div>
